:root {
    --colour-accent: #358544;
    --colour-active: #286433;
    --colour-bg: #9bbcabff;
    --colour-inactive: #9fa6b4ff;
}

html {
    color-scheme: light;
    background: var(--colour-bg);
}

body {
    margin: 0;
    font-family: system-ui, Roboto, 'Helvetica Neue', Arial, sans-serif;
    display: grid;
    grid-template:
        'header' auto
        'main' 85%
        'keyboard' env(keyboard-inset-height, 0px);
}

body > * {
    min-width: 0;
}

header {
    display: inline-flex;
    align-items: center;
    grid-row: 1;
    height: 100%;
    text-align: left;
    padding-left: 2em;
    color: var(--colour-active);

    a,
    a:visited {
        color: inherit;
    }
}

.tick {
    display: inherit;
    height: 4em;
    width: 4em;
    background: url('/logo.svg');
    background-size: 4em 4em;
}

main {
    grid-row: 2;
    height: 80vh;
    width: 85vw;
    max-width: 22em;
    margin: 0 auto;
    padding: 1em;
    display: grid;
    font-size: 1.25rem;
    line-height: 1.25;
    align-content: center;
    justify-content: stretch;
}

footer {
    grid-row: 3;
    text-align: center;
    justify-items: center;
}

#clue.header {
    font-size: clamp(1.1rem, 0.8rem + 5vw, 2.2rem);
}

.pill {
    padding: 0.5em;
    background: var(--colour-accent);
    color: white;
    font-size: medium;
    border-radius: 1.5em;
    border-width: 0;
    cursor: pointer;
    text-align: center;
    line-height: 1.1;
    max-width: 40%;
    flex: 1;

    &:hover {
        background: var(--colour-active);
    }
}

.pill--big {
    font-size: large;
}

a {
    text-decoration: none;
}

p {
    text-align: center;
    padding-bottom: 1em;
    font-size: x-large;
}

.header {
    color: var(--colour-active);
    text-align: center;
}

.header--large {
    font-size: 5rem;
}

.input {
    padding: 1em;
    resize: none;
    font-family: inherit;
    font-size: large;
}

.list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}
