<!doctype html>
<html lang="en">
    <head>
        <title>Cryptick</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no, interactive-widget=resizes-content"
        />
        <meta name="keywords" content="cryptic, crossword, clues" />
        <meta
            name="description"
            content="Create a cryptic crossword clue and share it with people you know."
        />
        <meta property="og:title" content="Cryptick" />
        <meta property="og:site_name" content="Cryptick" />
        <meta property="og:image" content="./logo.svg" />
        <meta property="og:image:height" content="1200" />
        <meta property="og:image:width" content="1200" />
        <meta property="release:repository" content="https://github.com/mrwilson/cryptick"/>
        <meta property="release:filename" content="{{ original_filename }}">
        <meta property="release:commit" content="{{ commitHash }}"/>
        <meta property="release:timestamp" content="{{ builtAt }}"/>
        <link rel="manifest" href="./manifest.json" />
        <link rel="stylesheet" href="./base.css" />
        <link rel="icon" href="./logo.svg" />
        <script type="module">
            import ErrorHandler from './miniclue/errors.js';
            new ErrorHandler().bind(window);
        </script>
        <script async src="https://plausible.io/js/pa-nSHTBj0a2hbn-FVrrHdwg.js"></script>
        <script>
            window.plausible=window.plausible||function(){(plausible.q=plausible.q||[]).push(arguments)},plausible.init=plausible.init||function(i){plausible.o=i||{}};
            plausible.init()
        </script>

    </head>
    <body>
        <header>
            <a href="./"><h1>Cryptick</h1></a>
            <span class="tick"></span>
            <span class="about header"><a href="/about.html">?</a></span>
        </header>
        <main>
            {{{ contents }}}
        </main>
    </body>
</html>
