<!doctype html>
<html lang="en">
    <head>
        <script
            async
            src="https://plausible.io/js/pa-nSHTBj0a2hbn-FVrrHdwg.js"
        ></script>
        <script>
            ((window.plausible =
                window.plausible ||
                function () {
                    (plausible.q = plausible.q || []).push(arguments);
                }),
                (plausible.init =
                    plausible.init ||
                    function (i) {
                        plausible.o = i || {};
                    }));
            plausible.init({
                customProperties: {
                    commit: '{{ commitHash_Short }}',
                },
            });
        </script>
        <title>Cryptick</title>
        <meta name="theme-color" content="#286433" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no, interactive-widget=resizes-content"
        />
        <meta name="keywords" content="cryptic, crossword, clues" />
        <meta
            name="description"
            content="Create a cryptic crossword clue and share it with people you know."
        />
        <meta property="og:title" content="Cryptick" />
        <meta property="og:site_name" content="Cryptick" />
        <meta
            property="og:description"
            content="Create a cryptic crossword clue and share it with people you know."
        />
        <meta name="twitter:card" content="summary" />
        <meta
            property="release:repository"
            content="https://github.com/mrwilson/cryptick"
        />
        <meta property="release:filename" content="{{ original_filename }}" />
        <meta property="release:commit" content="{{ commitHash }}" />
        <meta property="release:timestamp" content="{{ builtAt }}" />
        <meta
            name="google-site-verification"
            content="i3VXh__GtyoHe4uJzp2J-gNZH3bBmWxvcvOzEx5NCZU"
        />
        <link rel="manifest" href="/manifest.json" />
        <link rel="stylesheet" href="/base.css" />
        <link rel="icon" href="/logo.svg" />
        <link
            rel="alternate"
            type="application/rss+xml"
            href="/feed.xml"
            title="Clue of the Day RSS Feed"
        />
        <script type="module">
            import ErrorHandler from '/miniclue/errors.js';
            new ErrorHandler().bind(window);
        </script>
    </head>
    <body>
        {{> header }}
        <main>{{{ contents }}}</main>
        {{> footer }}
    </body>
</html>
