<!doctype html>
<html lang="en">
    <head>
        <script
            async
            src="https://plausible.io/js/pa-nSHTBj0a2hbn-FVrrHdwg.js"
        ></script>
        <script>
            ((window.plausible =
                window.plausible ||
                function () {
                    (plausible.q = plausible.q || []).push(arguments);
                }),
                (plausible.init =
                    plausible.init ||
                    function (i) {
                        plausible.o = i || {};
                    }));
            plausible.init({});
        </script>
        <title>Cryptick Clue of the Day | {{ friendlyDate }}</title>
        <meta name="theme-color" content="#286433" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no, interactive-widget=resizes-content"
        />
        <meta name="keywords" content="cryptic, crossword, clues" />
        <meta name="description" content="{{clue}}" />
        <meta
            property="og:title"
            content="Clue of the Day | {{ friendlyDate }}"
        />
        <meta
            property="og:site_name"
            content="Cryptick{{#if redirect}} Clue of the Day{{/if}}"
        />
        <meta property="og:description" content="{{clue}}" />
        <meta property="og:image" content="/cotd/img/{{ date }}.png" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:creator" content="{{ author_name }}" />
        <meta property="profile:username" content="{{ author_name }}" />
        <meta
            property="release:repository"
            content="https://github.com/mrwilson/cryptick"
        />
        <meta
            name="google-site-verification"
            content="i3VXh__GtyoHe4uJzp2J-gNZH3bBmWxvcvOzEx5NCZU"
        />
        <link rel="manifest" href="/manifest.json" />
        <link rel="stylesheet" href="/base.css" />
        <link rel="icon" href="/logo.svg" />
        <script type="module">
            import ErrorHandler from '/miniclue/errors.js';
            new ErrorHandler().bind(window);
        </script>
    </head>
    <body>
        {{> header }}
        <main>
            <script>
                const encoded_clue = '#{{hash}}';
            </script>
            {{> solve encoded_clue="encoded_clue" message="Clue of the Day" }}
        </main>
        {{> footer }}
    </body>
</html>
